/* ThumbnailGallery.css */
.gallery-container {
    width: 80%;
    max-width: 800px;
    height: 100px;
    margin: 0 auto; 
    
}

.main-image img {
    /* width: 100%; */
    width: 750px;
    height: 450px;
    border-radius: 0.5rem;
}

.thumbnail-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.thumbnail-gallery {
    display: flex;
    overflow: hidden;
    width: calc(100% - 80px); /* Adjust for button width */
    margin: 0 40px; /* Adjust margins for buttons */
}

.thumbnail {
    width: 80px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.3s ease;
    margin-right: 5px;
}

.thumbnail.active {
    border: 2px solid #007bff;
}

.thumbnail:hover {
    opacity: 0.7;
}

button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    color: #333;
}

button:focus {
    outline: none;
}

/* .prev {
    position: absolute;
    left: 0;
}

.next {
    position: absolute;
    right: 0;
} */
